# Define el entorno actual (development, preprod, prod). Por defecto es development.
APP_ENV=development

# --- Entorno Genérico (Fallback) ---
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASS=secret
MYSQL_DB=mydatabase

# --- Entorno de Desarrollo (APP_ENV=development) ---
DEV_MYSQL_HOST=localhost
DEV_MYSQL_PORT=3306
DEV_MYSQL_USER=dev_user
DEV_MYSQL_PASS=dev_pass
DEV_MYSQL_DB=dev_db

# --- Entorno de Pre-Producción (APP_ENV=preprod) ---
PREPROD_MYSQL_HOST=preprod_host
PREPROD_MYSQL_PORT=3306
PREPROD_MYSQL_USER=preprod_user
PREPROD_MYSQL_PASS=preprod_pass
PREPROD_MYSQL_DB=preprod_db

# --- Entorno de Producción (APP_ENV=prod) ---
PROD_MYSQL_HOST=prod_host
PROD_MYSQL_PORT=3306
PROD_MYSQL_USER=prod_user
PROD_MYSQL_PASS=prod_pass
PROD_MYSQL_DB=prod_db
